* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
} 

html {
	height: 100%;
}

body {
	background-image: url('pexels-cottonbro-edit.png');
	background-size: cover;
	height: 100%;
}

h1, h2, h3, h4, p {
	color: #fff;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 19px;
	letter-spacing: 1px;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 18px;
}

.contact {
	position: relative;
	float: left;
	top: 280px;
	background-color: #1c1b23;
	padding: 40px;
}

.side {
	position: relative;
	float: right;
	height: 100%;
	width: 50%;
	background-color: #1c1b23;
	padding: 40px;
}

.skills {
	padding-top: 30px;
}

#cred {
	position: relative;
	top: 95%;
	left: -400px;
}

img {
	width: 55%;
}